absl-py
altair==4.2.0
asttokens
astunparse
attrs
backcall
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
oauthlib
opt-einsum
packaging
pandas
parso
pickleshare
pillow
pkgutil_resolve_name
platformdirs
prompt-toolkit
protobuf==3.20.*

psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
six
smmap
stack-data
streamlit
streamlit-lottie
streamlit-option-menu
tenacity
termcolor
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
Unidecode
urllib3
watchdog
wcwidth
Werkzeug
wrapt
zipp
